<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/chieforder.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Dancing+Script&family=Edu+QLD+Beginner:wght@600&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Dancing+Script&family=Edu+QLD+Beginner:wght@600&family=Kalam:wght@300&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">

</head>
<body>
    {% block content %}
    <h2>Orders</h2>
    <div class="orderbox" style="overflow:scroll; -ms-overflow-style: none; scrollbar-width:none; ">
       <h3>Table 1</h3>
        
       {% for ord in table1 %}
       <p>{{ord}}</p>
       {% endfor %}
    </div>

    <div class="orderbox"  style="overflow:scroll; -ms-overflow-style: none; scrollbar-width:none;">
       <h3>Table 2</h3>
        {% for order in table2 %}
        <p>{{order}}</p>
        {% endfor %}
    </div>
    {% endblock content %}
</body>
</html>