<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'image/home.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+QLD+Beginner:wght@600&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Edu+QLD+Beginner:wght@600&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
</head>
<body>
   
    {% block content %}
<div id="nav">
    <h2>Auto Resto</h2>
    <ul>
    
     {% if user.is_authenticated %}

     <a href="{% url 'logout' %}"><li style="color: aliceblue;">Logout</li></a>

     <a href="{% url 'emenu' tab_no %}"><li style="color: aliceblue;">Menu</li></a>

     {% if user.username == 'admin' %}
     <a href="{% url 'chieforder' %}"><li style="color: aliceblue;">Order View</li></a>
     <a href="{% url 'additem' %}"><li style="color: aliceblue;">Add Item</li></a>
     
     
     {% endif %}
     {% else %}
     <a href="{% url 'login' %}"><li style="color: aliceblue;">Login</li></a>
     
     <a href="{% url 'signup' %}"><li style="color: aliceblue;">Sign up</li></a>

   
     {% endif %}
    </ul>
 
  </div>
<div id="title">
    <h1>Auto Resto</h1>
</div>
<div class="taste"> <p>Taste the Change</p></div>
{% endblock content %}


</body>
</html>